<%- include ../partials/header %> 

<body>
  
  <form class="new-flight-btn" action="/destinations/<%= flight._id %>" method="POST">
    <label>Destination:
      <select name="airport">
          <option value="ATX">Austin</option>
          <option value="DFW">Dallas</option>
          <option value="DEN">Denver</option>
          <option value="LAX">Los Angeles</option>
          <option value="SD">San Diego</option>
        </select>
    </label><br>
    <label>Date:
      <input type="date" name="arrival">
    </label><br>

  <input class="new-flight-btn" type="submit" value="Add Destination">
</form> 

  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destination.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>  
        </tr>
      <% }) %> 
      
    </tbody>
  </table>   
  <br>
<a id="ticket-btn" href="/flights/<%= flight._id %>/tickets/new">Purchase Ticket</a>

</body>
  
<%- include ../partials/footer %>